body {
    text-align: center;
    margin: 0
}
nav {
    background-color: steelblue;
    padding: 25px;  
}
a {
    color: white;
    margin: 40px;
    padding: 25px;
  }
  h1 {
    color: steelblue;
    margin: 50px 0;
  }
  img {
    width: 800px;
    border: 4px solid steelblue;
  }
  p {
    padding: 10px;
  }
  footer {
    background-color: steelblue;
    color: white;
  }
  footer p {
    padding: 25px;
  }

.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}

#active {
    background-color: white;
    color: steelblue;
}
