@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Source+Serif+Pro&display=swap');
/* #053d2c
#a3b18a
#1e894f
#344e41

"Dancing Script"
"Source Serif Pro" */

body {
    background-color: #a3b18a;
}

#whole {
    max-width: 1600px;
    margin: 0 auto;
}



/* HEADER */


nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #053d2c;
    z-index: 999;
    padding: 0 20px;



}

nav a {
    text-decoration: none;
    text-align: center;
    color: #a3b18a;
    font-family: "Source Serif Pro";
    word-spacing: 5px;
    margin: 25px;


}

nav a:nth-child(3) {
    background-color: transparent;
    border-radius: 0px;
    border-style: none;
}

nav a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #a3b18a;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav a:hover::after {
    width: 75%;
}

nav a:nth-child(3):hover::after {
    width: 0%;
}

.wrapper {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    overflow: hidden;
    border: 4px solid #a3b18a;
    margin: auto;

}

.wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    transition: 0.5s ease;
    cursor: pointer;
    border: 10px;


}

.wrapper img:hover {
    transform: scale(1.6);

}

/* MAIN */

#intro {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;

}



#background {
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
    width: 100%;


}

#background img {
    width: 110%;
    border-radius: 10px;


}

#intro-msg {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    color: #053d2c;
    font-size: 25px;
    word-spacing: 10px;
    line-break: auto;
    margin-left: 1em;
}

#intro-msg h1 {
    font-family: "Dancing Script";
    word-spacing: 10px;

}

#intro-msg h4 {
    font-family: "Source Serif Pro";
}

#content {
    margin-top: 75px;
}

.content {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: "Source Serif Pros";
    font-size: 20px;
    padding: 50px;
    color: #053d2c;
    margin-bottom: 100px;
}

.content-message em {
    font-size: 25px;
    word-spacing: 5px;
    text-transform: uppercase;

}

.content-message {
    text-align: center;
}

.content-image {
    padding: 50px;
}

.content-image img {
    border-radius: 50px;
    width: 400px;
    object-fit: cover;

}


#links {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    padding: 56px;
    margin-bottom: 100px;

}

.container {
    height: 750px;
    width: 450px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 20px;

}

.container img {
    object-fit: cover;
}

.slink {
    height: 100%;
    width: 100%;

}

.container:hover .overlay {
    opacity: 1;
    height: 100%;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: 0.5s ease;
    text-align: center;
}

.overlay h2 {
    font-family: "Dancing Script";
    color: #053d2c;
    font-weight: 600;

}

#video {
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Dancing Script";
    color: #053d2c;
}

.vid {
    border-radius: 50px;
    width: 75%;
    height: 75%;
}

/* FOOTER */

footer {
    margin-top: 100px;
    background-color: #053d2c;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    color: #a3b18a;
    font-family: "Dancing Script";
    align-items: center;
    height: 100px;

}

.site-plan a {
    text-decoration: none;
    color: #a3b18a;
}

footer a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #a3b18a;
    display: block;
    margin: auto;
    transition: 0.5s;
}

footer a:hover::after {
    width: 75%;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.socialmedia a {
    padding: 50px;
}

.socialmedia img {
    border-radius: 50px;

}

/* STANDARDS PAGE */



#first {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    color: #053d2c;
    font-size: 25px;
    word-spacing: 10px;
    line-break: auto;
    margin-left: 1em;

}

#first h2 {
    font: 50px "Dancing Script";
    word-spacing: 10px;


}

#first h4 {
    font-family: "Source Serif Pro";
}

#to-bring {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.bring-container {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: "Dancing Script";
    font-size: 20px;
    padding: 50px;

    width: 750px;


}

#gallery {

    width: 200vw;
    display: flex;
    flex-flow: column;
    height: 75vmin;
    gap: 5px;




}

.card {
    width: 100%;
    height: 300px;

    overflow: hidden;
    position: relative;
    object-fit: cover;
    cursor: pointer;
    flex: 1;
    transition: 0.3s;





}


.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

}

.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -150%;
    color: #fff;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .5s;

}

.card:hover .card-body {
    right: 0;

}

.card:hover {
    flex: 15;
    height: 100%;

}

.tobring {
    font-family: "Dancing Script";
    color: #053d2c;
    font-weight: 600;

}

#bigfive {
    margin: 100px 0 100px 0;
}

.bigfive {
    align-items: center;
    text-align: center;
    font: 30px "Source Serif Pro";
    color: #053d2c;


}

.bigfive h2 {

    font-family: "Dancing Script";

}

#b5list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.b5-container {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 50px;
    width: 800px;

}

.b5-gallery {
    width: 100vw;
    display: flex;
    flex-flow: row;
    height: 70vmin;
    gap: 15px;

}

.b5-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    cursor: pointer;
    flex: 1;
    transition: 0.3s ease;
    text-align: center;
    align-items: center;

}

.b5-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

}

.b5-card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -150%;
    color: #fff;
    position: absolute;
    background: #1f3d4738;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    text-align: right;






}

.b5-card-body p {
    font-family: "Source Serif Pro";
    font-size: 20px;
    font-weight: 500;

}

.b5-card:hover .b5-card-body {
    right: 0;
    opacity: 1;
}

.b5-card:hover {
    flex: 15;
    width: 100%;



}

.drugs {
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
}

.bring-list {
    font-family: "Dancing Script";
    color: #053d2c;
    font-weight: 600;
}

#dress-appearance {
    width: 100%;
    font: 30px "Source Serif Pro";
    color: #053d2c;
    align-items: center;
    text-align: center;
    justify-content: center;

}

#dress-appearance h2 {
    font-family: "Dancing Script";


}

.dress-appearance {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 50px;
    align-items: center;

}

.dress-list li {

    font-size: 20px;
    text-align: center;
    word-spacing: 2.5px;

}

.dress-container {
    display: flex;
    text-align: center;
    align-items: center;
    /* padding: 50px; */
    width: 700px;

}

.dress-gallery {
    width: 550px;
    height: 420px;
    display: flex;
    overflow: hidden;
    gap: 10px;
    flex-flow: row;


}

.dress-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    cursor: pointer;
    flex: 1;
    transition: 0.3s ease;
    text-align: center;
    align-items: center;
}

.dress-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.dress-card:hover {

    flex: 60%;
    height: 100%;
}

.add {
    font: 25px "Source Serif Pro";
    padding: 100px;
}

.add p {
    color: #053d2c;
}

.other {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font: 20px "Source Serif Pro";

}

.list {

    text-align: left;
    align-items: center;

}

.list li {
    list-style: disc;
}

.list li,
.list h1 {
    color: #053d2c;
}

.list h1 {
    font-family: "Dancing Script";

    text-align: center;
}

.otherimg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;


}

.otherimg img {
    width: 100%;
    height: 100%;
    padding: 50px;
    border-radius: 100px;
    object-fit: cover;

}

/* FSY STAFF---------------------------------------------------------------------------- */
#sdc {

    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 100px 0 300px 0;

}

.sdc {

    color: #053d2c;
    font-family: "Source Serif Pro";
    font-size: 35px;
    margin-top: -50px;

}

.sdc h3 {
    font-family: "Dancing Script";
    font-size: 50px;
}



.sdc img {
    width: 450px;
    height: 450px;
    border-radius: 55px;
    object-fit: cover;


}

.sdc h4 {
    margin-top: -50px;
}


#coordinators {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -100px;

}

.c-gallery {
    display: flex;
    width: 100vw;
    height: 70vmin;
    flex-flow: row;
    gap: 35px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.c-card {
    background-color: transparent;
    width: 450px;
    height: 550px;
    border: 1px solid #f1f1f1;
    border-radius: 25px;
    perspective: 1000px;
    object-fit: cover;
}

.c-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    border-radius: 25px;
}
  
.c {

    font-family: "Source Serif Pro";
    color: #053d2c;
    font-size: 25px;
}


.c-flip-card-front,
.c-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
 
  backface-visibility: hidden;

}

.c-flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 25px;
}

.c-flip-card-back {

    
    background-color: #053d2c;
    color: white;
    transform: rotateY(180deg);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
  
}
.c-bg {
    position: relative;
    width: 100%;
    height: 100%;
  
}
.c-bg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.c-card:hover .c-flip-card-inner {
    transform: rotateY(180deg);
}

.c-card-body {
    position: absolute;
    left: 0;
    top: 70%;
}
  
.c-card-body h3{
    font-size: 50px;
    color: white;
    font-family: "Dancing Script";
}
.c-flip-card-front img {
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%;
  
  }


.ac-gallery {
    display: flex;
    width: 100vw;
    height: 70vmin;
    flex-flow: row;
    gap: 15px;

}



.ast-coordinators {
    margin-top: 100px;
    align-items: center;
    text-align: center;
    color: #053d2c;
    font: 25px "Dancing Script";
}

.ac {
    font-family: "Source Serif Pro";
}

.ac-container {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;

}

.ac-gallery {
    display: flex;
    width: 100vw;
    height: 70vmin;
    flex-flow: row;
    gap: 15px;

}

.ac-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    cursor: pointer;
    flex: 1;
    transition: 0.3s ease;
    text-align: center;
    align-items: center;
    border-radius: 25px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    border-radius: 25px;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 25px;
}

.flip-card-back {
    background-color: #053d2c;
    color: white;
    transform: rotateY(180deg);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.bg {
    position: relative;
    width: 100%;
    height: 100%;

}

.bg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.ac-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.ac-card-body {
    position: absolute;
    left: 0;
    top: 70%;
}

.ac-card-body h3 {
    font-size: 50px;
    color: white;
}

.flip-card-front img {
    object-fit: cover;
    border-radius: 25px;
}



.ac-card:nth-child(4) h3 {
    color: #fff;
}

.ac-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.ac-card:hover .ac-card-body {
    right: 0;
    opacity: 1;
}

.ac-card:hover {
    flex: 5;
    width: 100%;
}



#counselors-first, #counselors-second{
    margin: 100px 0 200px 0;
    align-items: center;
    text-align: center;
    color: #053d2c;
    font: 25px "Dancing Script";
}


